body {
  font-family: 'Carter One', cursive;
  color: lime;
}

.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game-board-wrapper {
  width: 432px;
  padding: 16px;
  margin: auto;
  background: url(img/wall1.png);
}

.game-board {
  position: relative;
  height: 600px;
  padding: 2em;
  font-family: 'Carter One', cursive;
  overflow: hidden;
  background: url(img/clouds1.png) repeat-y;
  transition: background-position-y 1s;
}

.game-board.paused {
  filter: blur(5px);
}

.game-board .sprite {
  position: absolute;
}

.game-board .lava {
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: url(img/lava1.png) repeat-x 0 -1px;
  z-index: 900;
  animation: lavaAnimation linear 1s infinite;
}

.game-board .lava:before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #BB0014;
}

@keyframes lavaAnimation {
  0% { background-position-x: 0px;}
  100% { background-position-x: 16px;}
}


.game-board .platform {
  width: 33%;
  height: 16px;
  background: url(img/platform1.png);
  margin-left: 10%;
  margin-top: 65px;
  z-index: 700;
  box-shadow: 0px 0px 3px #000;
}

.game-board .actor {
  width: 32px;
  height: 64px;
  background: url(img/character.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-left: 95px;
  z-index: 1000;
}

.game-board.game-over .actor {
  height: 50px;
  background-image: url(/static/media/skull.943bc50a.png);
  width: 50px;
  margin-top: 15px;
  animation: deathFrames linear 0.5s;
  animation-iteration-count: 5;
  animation-fill-mode: forwards;
}

.game-board.in-progress .actor {
  animation: fidgetFrames linear 0.5s;
  animation-iteration-count:infinite;
}

@keyframes fidgetFrames {
  0% { margin-top: 0px; }
  50% { margin-top: -7px; }
  100% { margin-top: 0px; }
}

@keyframes deathFrames {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.game-board .actor.col-1 {
  transform: scaleX(-1);
}

.game-board .word {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Carter One', cursive;
  color: black;
  margin-left: 10%;
  margin-top: 20px;
  z-index: 1000;
  text-shadow: 0px 0px 5px #fff;
  width: 33%;
}

.game-board .word .correct {
    color: lime;
}

.game-info {
  overflow: hidden;
  width: 750px;
  margin: 0 auto;
}

.score-display,
.distance-display {
  width: 50%;
  float: left;
  font-size: 2rem;
  font-family: 'Carter One', cursive;
  text-shadow: 2px 2px 2px black;
}

.distance-display {
  float: right;
}

.footer {
  padding-top: 1rem;
  text-align: center;
  margin: 0 auto;
  font-family: 'Carter One', cursive;
  text-shadow: 2px 2px 2px black;
  font-size: 1.25rem;
  color: #87fa87;
}

.game-board .row-9 { top: 0px; }
.game-board .row-8 { top: 60px; }
.game-board .row-7 { top: 120px; }
.game-board .row-6 { top: 180px; }
.game-board .row-5 { top: 240px; }
.game-board .row-4 { top: 300px; }
.game-board .row-3 { top: 360px; }
.game-board .row-2 { top: 420px; }
.game-board .row-1 { top: 480px; }
.game-board .row-0 { top: 540px; }

.game-board .col-0 { left: 0; }
.game-board .col-1 { left: 50%; }
